.dark {
    background-color: #333;
    color: #fff;
    font-weight: 500;    
}

.dark a:hover{
    color: rgb(168 162 158);
}

.light {
    background-color: #fff;
    color: #333;
    font-weight: 500;
}

.light a:hover{
    color: rgb(107 114 128);
}

.dark #mobile-menu{
    background-color: #333;
    border-color: #333;
}

.light #mobile-menu{
    background-color: #fff;
    border-color: #fff;
}

.dark #footer{
    background-color: #555;
    color: #fff;    
}

.light #footer{
    color: black;    
}

.dark #navbarbg{
    background-color: #555;
}

.dark #togglebg{
    background-color: #555;
}
.dark #registerText{
    color: #333;
}

.dark #loginText{
    color: #333;
}
.dark #banner{
    background-color: #555;
}